# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/legitslimepaper-server/build.gradle.kts
/legitslimepaper-server/src/minecraft
/paper-server
/slimeworldmanager-server
/legitslimepaper-api/build.gradle.kts
/paper-api
/paper-api-generator
/slimeworldmanager-api

/api/build.gradle.kts
/api/src/
/core/build.gradle.kts
/core/src/
.idea/
